services:
  redis-db:
    image: redis
    container_name: redis-db
    volumes:
      - redis-data:/data
    networks:
      - redis-net
    restart: unless-stopped

  backend:
    build: .
    container_name: backend
    ports:
      - "5000:5000"
    environment:
      REDIS_HOST: redis-db
      REDIS_PORT: 6379
      NODE_ENV: production
    depends_on:
      - redis-db
    networks:
      - redis-net
    restart: unless-stopped

volumes:
  redis-data:

networks:
  redis-net:
    driver: bridge
